{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}  

{% if language == "ES" %} CONSENTIMIENTO PARA PARTICIPAR EN LA INVESTIGACIÓN {% endif %}

{% if language == "NO" %} SAMTYKKE TIL Å DELTA I UNDERSØKELSEN {% endif %}

{% if language == "EN" %} CONSENT TO PARTICIPATE IN THE SURVEY {% endif %}

{% endblock %}

{% block content %}

{% if language == "ES" %}

Va usted a participar en un estudio de investigación realizado por Alberto Antonioni, profesor ayudante doctor del Departamento de Matemáticas de la Universidad Carlos III de Madrid. Su participación en este estudio es totalmente voluntaria. Por favor, lea la siguiente información y pregunte sobre cualquier cosa que no entienda, antes de decidir si participará o no.

<h3>PROPÓSITO DEL ESTUDIO</h3>
Nuestros experimentos, con carácter general, se enmarcan en el proyecto IBSEN, que ha sido financiado por la UE y diseñado para ayudar a entender el comportamiento humano. El propósito de este experimento en concreto es recoger información sobre las preferencias de las personas.

<h3>PARTICIPANTES</h3>
Población general mayor de 18 años.

<h3>PROCEDIMIENTOS</h3>
Si usted participa como voluntario para participar en este estudio, se le pedirá que tome decisiones sencillas a través de esta interfaz de computadora o teléfono móvil. Sus decisiones serán anónimas, no podrán asociarse con su identidad, y usted no sufrirá ninguna pérdida económica. Por su participación recibirá una cantidad fija de <strong>4 euros</strong> más la posibilidad de recibir un premio de 100 EUR. Recibirá el pago a través de PayPal tras su participación en las 24-48 horas siguientes a la terminación del experimento, por lo que necesitará tener una cuenta de usuario de dicha plataforma de pagos.

<h3>POSIBLES RIESGOS E INCOMODIDADES</h3>
No hay riesgos o molestias previsibles.

<h3>CONFIDENCIALIDAD</h3>
Los datos sobre sus acciones durante su participación en el experimento serán recopilados y utilizados para fines de investigación. Estos datos se almacenarán sin que se puedan asociar a su identidad personal, y se colocarán tras completarse el estudio en un Depósito de Datos Abierto con el fin de compartirlos con otros investigadores y no con fines comerciales, y en cumplimiento de las obligaciones de los investigadores establecidos por la política de la UE.

<h3>PARTICIPACIÓN Y RETIRADA</h3>
Su participación en este estudio de investigación es voluntaria. Usted puede negarse a participar sin penalización. Si decide participar, es libre de detenerse en cualquier momento sin penalización, simplemente deteniéndose y/o comunicándoselo al investigador. Si usted no concluye el experimento no recibirá pago alguno.
Al participar en el experimento, usted declara tener al menos 18 años de edad y ser plenamente capaz y competente para entender los términos y condiciones del presente experimento.

<h3>IDENTIFICACIÓN DE LOS INVESTIGADORES</h3>
Si tiene alguna pregunta o preocupación sobre esta investigación, por favor contacte con Alberto Antonioni en <a href="mailto:alberto.antonioni@uc3m.es">alberto.antonioni@uc3m.es</a>.

<h3>INFORMACIÓN BÁSICA SOBRE PROTECCIÓN DE DATOS</h3>
RESPONSABLE DEL TRATAMIENTO: Universidad Carlos III de Madrid. <br>
IDENTIFICACIÓN DEL TRATAMIENTO: Comportamiento social (GISC) <br>
FINALIDAD: Realizar experimentos sobre comportamiento humano con incentivos económicos. Los experimentos plantean situaciones hipotéticas a participantes voluntarios que reciben un pago en función de sus acciones en dichas situaciones. Los datos son necesarios para realizar los pagos y justificar el gasto con la entidad financiadora.
<br>
EJERCICIO DE DERECHOS: Podrá ejercer sus derechos de acceso, rectificación, supresión, limitación, portabilidad y oposición a su tratamiento, mediante el envío de un correo a la siguiente dirección: <a href="mailto:dpd@uc3m.es">dpd@uc3m.es</a>.
<br>
INFORMACIÓN ADICIONAL: Puede consultar la información adicional y detallada sobre nuestra Política de Privacidad en <a target="_blank" href="https://www.uc3m.es/protecciondedatos">https://www.uc3m.es/protecciondedatos</a>

<hr>

He leído la información proporcionada anteriormente. Al hacer click en el botón siguiente, comenzaré a participar en el experimento, para lo que manifiesto mi acuerdo voluntario para participar en este estudio de investigación en las condiciones antes indicadas.
<br><br>

<button style="background-color: #008CBA; font-size: 20px; color: white; border-radius: 12px;">
    Siguiente
</button>

{% endif %}

{% if language == "EN" %}

You are going to participate in a research study conducted by Alberto Antonioni, Assistant Professor at the Department of Mathematics of the Universidad Carlos III de Madrid. Your participation in this study is completely voluntary. Please read the following information and ask questions about anything you do not understand before deciding whether or not to participate.

<h3>PURPOSE OF THE STUDY</h3>
Our experiments, broadly speaking, are part of the IBSEN project, which has been funded by the EU and designed to help understand human behavior. The purpose of this particular experiment is to collect information about collective behavior in groups of people.

<h3>PARTICIPANTS</h3>
General population over 18 years old.

<h3>PROCEDURES</h3>
If you volunteer to participate in this study, you will be asked to make simple decisions through this computer or mobile phone interface. Your decisions will be anonymous, cannot be associated with your identity, and you will not suffer any financial loss. For your participation you will receive a fixed amount of <strong>4 euros</strong> plus the possibility to receive a prize of EUR 100. You will receive payment via PayPal after your participation within 24-48 hours after the end of the experiment, so you will need to have a PayPal user account.


<h3>POSSIBLE RISKS AND DISADVANTAGES</h3>
There are no foreseeable risks or inconveniences.

<h3>CONFIDENTIALITY</h3>
Data about your actions during your participation in the experiment will be collected and used for research purposes. These data will be stored without being associated with your personal identity, and will be placed after completion of the study in an Open Data Repository for the purpose of sharing with other researchers and not for commercial purposes, and in compliance with the obligations of researchers established by EU policy.

<h3>PARTICIPATION AND WITHDRAWAL</h3>
Your participation in this research study is voluntary. You may decline to participate without penalty. If you decide to participate, you are free to stop at any time without penalty by simply stopping. However, if you do not complete the experiment you will not receive any payment.
By participating in the experiment, you represent that you are at least 18 years of age and are fully capable and competent to understand the terms and conditions of this experiment.

<h3>IDENTIFICATION OF INVESTIGATORS</h3>
If you have any questions or concerns about this research, please contact Alberto Antonioni at <a href="mailto:alberto.antonioni@uc3m.es">alberto.antonioni@uc3m.es</a>.

<h3>BASIC INFORMATION ON DATA PROTECTION</h3>
PERSON RESPONSIBLE FOR THE PROCESSING: Universidad Carlos III de Madrid. <br>
IDENTIFICATION OF THE PROCESSING: Social behavior (GISC) <br>
PURPOSE: To conduct experiments on human behavior with economic incentives. The experiments pose hypothetical situations to voluntary participants who receive a payment based on their actions in those situations. The data are needed to make payments and justify the expense to the funding entity.
<br>
EXERCISE OF RIGHTS: You may exercise your rights of access, rectification, deletion, limitation, portability and opposition to their processing by sending an email to the following address: <a href="mailto:dpd@uc3m.es">dpd@uc3m.es</a>.
<br>
ADDITIONAL INFORMATION: You can consult additional and detailed information about our Privacy Policy at <a target="_blank" href="https://www.uc3m.es/protecciondedatos">https://www.uc3m.es/protecciondedatos</a>

<hr>

I have read the information provided above. By clicking the button below, I will begin to participate in the experiment, for which I voluntarily agree to participate in this research study under the conditions stated above.
<br><br>-->

<button style="background-color: #008CBA; font-size: 20px; color: white; border-radius: 12px;">
    Next
</button>

{% endif %}

{% if language == "NO" %}

You are going to participate in a research study conducted by Anxo Sánchez, Professor of Applied Mathematics at the Department of Mathematics, Universidad Carlos III de Madrid. Your participation in this study is completely voluntary. Please read the following information and ask about anything you do not understand before deciding whether or not to participate.

<h3>PURPOSE OF THE STUDY</h3>.
Our experiments, broadly speaking, are part of the IBSEN project, which has been funded by the EU and designed to help understand human behavior. More information about the goals of IBSEN and expected advances in knowledge is available at <a target="_blank" href="https://http://www.ibsen-h2020.eu">http://www.ibsen-h2020.eu</a>.
The purpose of this particular experiment is to collect information about collective behavior in groups of people.

<h3>PARTICIPANTS</h3>.
General population over 18 years old.

<h3>PROCEDURES</h3>
If you participate as a volunteer to participate in this study, you will be asked to make simple decisions through this computer or cell phone interface in a context where those decisions will affect your chances of obtaining an economic benefit, as well as the economic benefits of other volunteers. Your decisions will be anonymous, cannot be associated with your identity, and you will not suffer any financial loss. For your participation you will receive a fixed amount of {{ Constants.payment_show_up_fee }} euros, plus a variable amount depending on your decisions and those of the other participants. On average, participants in the experiment will earn around 15 euros, but the amount received by each participant will vary and there is no guarantee of a minimum amount beyond what you will receive for your participation. You will receive payment through PayPal after your participation, so you will need to have a PayPal user account.

<h3>POSSIBLE RISKS AND DISADVANTAGES</h3>.
There are no foreseeable risks or inconveniences.

<h3>CONFIDENTIALITY</h3>.
Data about your actions during your participation in the experiment will be collected and used for research purposes. These data will be stored without being associated with your personal identity, and will be placed after completion of the study in an Open Data Repository for the purpose of sharing with other researchers and not for commercial purposes, and in compliance with the obligations of researchers established by EU policy.

<h3>PARTICIPATION AND WITHDRAWAL</h3>.
Your participation in this research study is voluntary. You may decline to participate without penalty. If you decide to participate, you are free to stop at any time without penalty by simply stopping and/or telling the investigator. If you do not complete the experiment you will not receive payment.
By participating in the experiment, you represent that you are at least 18 years of age and are fully capable and competent to understand the terms and conditions of this experiment.

<h3>IDENTIFICATION OF INVESTIGATORS</h3>.
If you have any questions or concerns about this research, please contact Anxo Sanchez at <a href="mailto:anxo@math.uc3m.es">anxo@math.uc3m.es</a>.

<h3>BASIC INFORMATION ON DATA PROTECTION</h3>.
PERSON RESPONSIBLE FOR THE PROCESSING: Universidad Carlos III de Madrid. <br>
IDENTIFICATION OF THE PROCESSING: Social behavior (GISC) <br>
PURPOSE: To conduct experiments on human behavior with economic incentives. The experiments pose hypothetical situations to voluntary participants who receive a payment based on their actions in those situations. The data are needed to make payments and justify the expense to the funding entity.
<br>
EXERCISE OF RIGHTS: You may exercise your rights of access, rectification, deletion, limitation, portability and opposition to their processing by sending an email to the following address: <a href="mailto:dpd@uc3m.es">dpd@uc3m.es</a>.
<br>
ADDITIONAL INFORMATION: You can consult additional and detailed information about our Privacy Policy at <a target="_blank" href="https://www.uc3m.es/protecciondedatos">https://www.uc3m.es/protecciondedatos</a>

<hr>

I have read the information provided above. By clicking the button below, I will begin to participate in the experiment, for which I voluntarily agree to participate in this research study under the conditions stated above.
<br><br>

<button style="background-color: #008CBA; font-size: 20px; color: white; border-radius: 12px;">
    Next
</button>

{% endif %}

{% endblock %}
